<body class="home">
  {{#if isWrongPosition}} 
    <script>alert("Wrong position")</script>
   {{/if}}

  <form action="" method="POST">
    <div class="theta-div">
      <div class="container theta1-container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text">Theta 1</h1>
          </div>
          <div class="col-8">
            <input
              type="range"
              class="form-range theta1 range-input"
              id="theta1"
              min="-360"
              max="360"
              step="0.01"
              oninput="rangeValueTheta1.innerText = this.value"
              name="theta1"
              {{!-- onchange="this.form.submit()" --}}
              value="{{theta1}}"
            />
          </div>
          <div class="col">
            <h1 id="rangeValueTheta1" class="display-1 text">{{theta1}}</h1>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              value="{{theta1}}"
              name="theta1Number"
              min="-360"
              max="360" 
              step="0.01"
            />
          </div>
        </div>
      </div>

      <div class="container theta2-container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text">Theta 2</h1>
          </div>
          <div class="col-8">
            <input
              type="range"
              class="form-range theta2 range-input"
              id="theta2"
              min="-360"
              max="360"
              step="0.01"
              oninput="rangeValueTheta2.innerText = this.value"
              {{!-- onchange="this.form.submit()" --}}
              name="theta2"
              value="{{theta2}}"
            />
          </div>
          <div class="col">
            <h1 id="rangeValueTheta2" class="display-1 text">{{theta2}}</h1>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              value="{{theta2}}"
              name="theta2Number"
              min="-360"
              max="360"
              step="0.01"
            />
          </div>
        </div>
      </div>

      <div class="container theta3-container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text">Theta 3</h1>
          </div>
          <div class="col-8">
            <input
              type="range"
              class="form-range theta3 range-input"
              id="theta3"
              min="-360"
              max="360"
              step="0.01"
              oninput="rangeValueTheta3.innerText = this.value"
              name="theta3"
              {{!-- onchange="this.form.submit()" --}}
              value="{{theta3}}"
            />
          </div>
          <div class="col">
            <h1 id="rangeValueTheta3" class="display-1 text">{{theta3}}</h1>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              value="{{theta3}}"
              name="theta3Number"
              min="-360"
              max="360"
              step="0.01"
            />
          </div>
        </div>
      </div>
    <button type="submit" class="btn btn-warning btn-submit">Send Rotation</button>
    </div>
  </form>

  <form action="" method="POST">
  <div class="position-div">
      <div class="container theta1-container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text">Px</h1>
          </div>
          <div class="col-8">
            <input
              type="range"
              class="form-range position1 range-input"
              id="position1"
              min="-500"
              max="500"
              step="0.01"
              oninput="rangeValuePosition1.innerText = this.value"
              name="position1"
              {{!-- onchange="this.form.submit()" --}}
              value="{{position1}}"
            />
          </div>
          <div class="col">
            <h1
              id="rangeValuePosition1"
              class="display-1 text"
            >{{position1}}</h1>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              value="{{position1}}"
              name="position1Number"
              step="0.01"
            />
          </div>
        </div>
      </div>

      <div class="container theta2-container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text">Py</h1>
          </div>
          <div class="col-8">
            <input
              type="range"
              class="form-range position2 range-input"
              id="position2"
              min="-500"
              max="500"
              step="0.01"
              oninput="rangeValuePosition2.innerText = this.value"
              name="position2"
              {{!-- onchange="this.form.submit()" --}}
              value="{{position2}}"
            />
          </div>
          <div class="col">
            <h1
              id="rangeValuePosition2"
              class="display-1 text"
            >{{position2}}</h1>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              value="{{position2}}"
              name="position2Number"
              step="0.01"
            />
          </div>
        </div>
      </div>

      <div class="container theta3-container">
        <div class="row">
          <div class="col">
            <h1 class="display-1 text">Pz</h1>
          </div>
          <div class="col-8">
            <input
              type="range"
              class="form-range position3 range-input"
              id="position3"
              min="-500"
              max="500"
              step="0.01"
              oninput="rangeValuePosition3.innerText = this.value"
              name="position3"
              {{!-- onchange="this.form.submit()" --}}
              value="{{position3}}"
            />
          </div>
          <div class="col">
            <h1
              id="rangeValuePosition3"
              class="display-1 text"
            >{{position3}}</h1>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              value="{{position3}}"
              name="position3Number"
              step="0.01"
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-warning btn-submit">Send Position</button>
    </form>
  </div>

  <div class="actuator">
    <form action="" method="POST">
        {{#if actuator}}
          <button type="submit" class="btn btn-dark btn-actuator" value=true name="actuator">Hold</button>
        {{else}}
          <button type="submit" class="btn btn-dark btn-actuator" value=false name="actuator">Release</button>
        {{/if}}
    </form>
  </div>

  <div class="save-position">
    <form action="controller/savePosition" method="GET">
          <button type="submit" class="btn btn-primary btn-save-position" name="save" value = "A">Save A</button>
          <button type="submit" class="btn btn-primary btn-save-position" name="save" value = "B">Save B</button>
          <button type="submit" class="btn btn-primary btn-save-position" name="save" value = "C">Save C</button>
    </form>
  </div>

   <div class="go-position">
    <form action="controller/goPosition" method="GET">
          <button type="submit" class="btn btn-primary btn-go-position" name="go" value = "A">Go to A</button>
          <button type="submit" class="btn btn-primary btn-go-position" name="go" value = "B">Go to B</button>
          <button type="submit" class="btn btn-primary btn-go-position" name="go" value = "C">Go to C</button>
    </form>
  </div>

  <div class="go-home">
    <form action="controller/goHome" method="GET">
          <button type="submit" class="btn btn-dark btn-go-home">Go Home</button>
    </form>
  </div>
</body>